{% extends "base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/main.css')}" />
<br>
<div class="col-sm for_card1">
    <h1>Возможно такой страницы не существет¯\_(ツ)_/¯.</h1>
    <img src="http://images.qwrt.ru/images/2014/05/22/giphy-594522.gif" alt="Пример кода">
    <img src="https://i.pinimg.com/originals/bf/a0/99/bfa099a1469c32263b43b3ce233b5218.gif" alt="Пример кода">
</div>

{% endblock %}