{% extends "base.html" %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/main.css')}" />
<br>
<br>

                            <div class="standart_margin">
                                <form action="https://money.yandex.ru/quickpay/confirm.xml">
                                    <input type="hidden" name="receiver" value="41001xxxxxxxxxxxx">
                                    <input type="hidden" name="formcomment" value="Проект «Трансфлюкатор»: модуль С-24">
                                    <input type="hidden" name="short-dest" value=" Проект «Трансфлюкатор»: модуль С-24">
                                    <input type="hidden" name="label" value="$order_id">
                                    <input type="hidden" name="quickpay-form" value="donate">
                                    <input type="hidden" name="targets" value="транзакция {order_id}">
                                    <input type="hidden" name="sum" value="4568.25" data-type="number" >
                                    <input type="hidden" name="comment" value="Хотелось бы параллельной флюкабельности." >
                                    <input type="hidden" name="need-fio" value="true">
                                    <input type="hidden" name="need-email" value="true" >
                                    <input type="hidden" name="need-phone" value="false">
                                    <input type="hidden" name="need-address" value="false">
                                    <input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</input>
                                    <input type="radio" name="paymentType" value="AC">Банковской картой</input>
                                    <br>
                                    <input type="submit" name="submit-button" value="Перевести">
                                </form>
                            </div>
{% endblock %}