{% extends "base.html" %}

{% block content %}
<br>
<div class="jumbotron">
  <h1 class="display-4">{{product.title}}</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p style="width: 600px;">{{product.information}}</p>
<img class="card-img-top" src="http://127.0.0.1:8070/static/img/{{product.photos}}" alt="Card image cap" style="width: 18rem;">
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="/checkout/{{product.id}}" role="button">BUY for {{product.cost}}</a>
  </p>
</div>

{% endblock %}